<div class="rates-container">
  <h2>NBU Currency Rates</h2>
  <p>
    Base currency {{baseCurrency}}
  </p>
  <div class="currency-table">
    <div class="header currency-table-row">
      <div class="date">Exchange Date</div>
      <div class="currency-name">Currency name</div>
      <div class="currency-code">Currency code</div>
      <div class="rate">Rate</div>
    </div>
    <div class="currency-table-row" *ngFor="let r of mainRates | async">
      <div>{{ r.exchangedate }}</div>
      <div>{{ r.txt }}</div>
      <div>{{ r.cc }}</div>
      <div>{{ r.rate | currency }}</div>
    </div>
  </div>
  <p></p>
  <div class="currency-table">
    <div class="header currency-table-row">
      <div class="date">Exchange Date</div>
      <div class="currency-name">Currency name</div>
      <div class="currency-code">Currency code</div>
      <div class="rate">Rate</div>
    </div>
    <div class="currency-table-row" *ngFor="let r of otherRates | async">
      <div>{{ r.exchangedate }}</div>
      <div>{{ r.txt }}</div>
      <div>{{ r.cc }}</div>
      <div>{{ r.rate | currency}}</div>
    </div>
  </div>
</div>
