@import "/src/assets/kns.variables";

.currency-table {
  width: 100%;

  .header {
    font-size: 1.2em;
    font-weight: 500;

    div {
      border-bottom: 2px solid $color-primary;
    }
  }

  .currency-table-row {
    display: flex;
    flex-wrap: nowrap;

    div {
      padding: 4px 6px 3px 2px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    div:nth-child(1) {
      flex-basis: calc(100% - 85%);
    }
    div:nth-child(2) {
      flex-basis: calc(100% - 50%)
    }
    div:nth-child(3) {
      flex-basis: calc(100% - 80%);
    }
    div:nth-child(4) {
      flex-basis: calc(100% - 85%);
    }
  }
}
