@import "/src/assets/kns.variables";
@import "./menu-mixins.scss";

:host {
  height: $toolbar-height;
  margin: 0;
}

.main-menu-item {
  @include menu_width($menu-item-width);
  position: relative;
  margin-right: 0 16px 0 0;
  height: $toolbar-height;
  z-index: 99;

  .main-menu-button-link {
    @include menu_button_link();
    @include horizontal_space_between();
    @include menu_color($color-primary, $color-accent);
    border-top: 1px solid darken($color-accent, 7);

    &:hover {
      color: $color-dark;
      background: darken($color-accent, 10);
    }

    .fa {
      padding-left: 6px;
      transition: transform .3s linear;
    }

    &:hover .fa {
      transform: rotate(180deg) translateX(-.5em);
    }
  }

  .sub-menu-items-container {
    @include menu_width($menu-item-width);
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    background: $color-accent;
    z-index: 99;
  }

  &:hover .sub-menu-items-container {
    display: initial;
  }
}

@media (max-width: 960px) {
  :host {
    width: 100%;
  }

  .main-menu-item {
    @include full_width();
    @include menu_color($color-primary, $color-accent);
    position: relative;
    margin: 0;
    height: $toolbar-height;

    .sub-menu-items-container {
      @include full_width();
      position: relative;
    }
  }
}
