@import "/src/assets/kns.variables";
@import "./menu-mixins.scss";

:host {
  @include block_relative();
}

.main-menu-item {
  @include full_width();
  position: relative;
  float: left;
  margin-right: 16px;
  flex-basis: $menu-item-width;
  background: lighten($color-accent, 12);
  height: $toolbar-height;
  z-index: 98;

  .main-menu-button-link {
    @include menu_color($color-primary, $color-accent);
    @include menu_button_link();
    @include vertical_center_align();

    flex-direction: column;
    border-top: 1px solid darken($color-accent, 7);

    &.two-lines {
      padding: 10.5px 16px;
    }

    span {
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;

      &.text-hint {
        font-size: small;
      }
    }

    &:hover {
      color: $color-dark;
      background: darken($color-accent, 10);
    }
  }
}

@media (max-width: 960px) {
  :host {
    width: 100%;

    .main-menu-item {
      width: 100%;
      position: relative;
      min-width: initial;
      max-width: initial;

      .main-menu-button-link {
        width: 100%;
      }
    }
  }
}
