@import "/src/assets/kns.variables";
@import "./menu-mixins.scss";

:host {
  @include horizontal_space_between();

  nav {
    @include horizontal_left_align();
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.menu-toggle-container {
  position: relative;
  display: none;
  width: 48px;
  align-self: self-end;
  flex-grow: 0;
  gap: 1em;
  height: 100%;

  .menu-toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      transition: transform .4s ease-in-out;
      background-color: $color-primary;
      transform: translateY(-12px);
      box-shadow: 0 12px $color-primary;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: $color-primary;
      transform: translateY(12px);
    }
  }

  &.active .menu-toggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 $color-primary;
  }

  &.active .menu-toggle::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 960px) {
  :host {
    width: 100%;
    justify-content: flex-end;

    nav {
      display: none;
      position: absolute;
      left: 0;
      top: $toolbar-height;
      width: 100%;;
      flex-direction: column;
    }

    &.active {
     nav {
      display: block;
     }
    }

    .menu-toggle-container {
      display: initial;
      flex-grow: 0;
      flex-basis: 48px;
      align-self: end;
      text-align: right;
    }
  }
}
