@import "/src/assets/kns.variables";
@import "./menu-mixins.scss";

:host {
  @include block_relative();
  height: $toolbar-height;
  max-height: $toolbar-height;
}

.main-menu-item {
  @include full_width();
  position: relative;
  margin-right: 16px;
  height: $toolbar-height;
  z-index: 99;

  .main-menu-button-link {
    @include menu_button_link();
    @include horizontal_space_between();
    @include menu_color($color-primary, $color-accent);
    border-top: 1px solid darken($color-accent, 7);
    gap: 1px;
    z-index: 99;

    span {
      flex-shrink: 1;
    }

    &:hover {
      color: $color-dark;
      background: darken($color-accent, 10);
    }

    .fa {
      transition: transform .3s linear;
    }

    &:hover .fa {
      transform: rotate(180deg) translateX(-.5em);
    }
  }

  .sub-menu-items-container {
    position: absolute;
    top: 0;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    width: $menu-item-width;
    max-width: $menu-item-width;
    max-height: 0;
    left: 0;
    z-index: 98;
    background: $color-accent;
    transition: transform .4s ease-in-out;
  }

  &:hover .sub-menu-items-container {
    transform: translateX($menu-item-width);
    max-height: initial;
    opacity: 1;
    visibility: visible;
    z-index: 98;
  }
}

@media (max-width: 960px) {
  .main-menu-item {
    @include full_width();

    .sub-menu-items-container {
      position: relative;
      left: 0;
      transform: translateX(0);
      max-width: initial;
      width: 100%;
    }

    &:hover .sub-menu-items-container {
      transform: translateX(0);
    }
  }
}
