@import "/src/assets/kns.mixins";

@mixin block_relative() {
  display: block;
  position: relative;
}

@mixin horizontal_space_between() {
  @include flex_row();
  align-items: center;
  justify-content: space-between;
}

@mixin horizontal_right_align() {
  @include flex_row();
  justify-content: flex-end;
  align-items: center;
}

@mixin horizontal_left_align() {
  @include flex_row();
  justify-content: flex-start;
  align-items: center;
}

@mixin vertical_center_align() {
    @include flex_column();
    justify-content: center;
    align-items: center;
}

@mixin menu_button_link() {
  position: relative;
  font-size: 1.1em;
  font-weight: 500;
  height: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
  gap: 1px;

  .fa {
    padding-left: 6px;
  }
}

@mixin menu_width($width) {
  min-width: $width;
  max-width: $width;
  width: $width;
}

@mixin menu_color($front, $back) {
  color: $front;
  background: $back;
}

@mixin full_width() {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
