.data-protection {
  padding: 20px;

  #converted-text {
    margin-top: 1em;
  }

  .action-buttons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;

    .btn {
      margin-top: 0.5em;
    }
  }
}
