.message-creator {
  .action-buttons {
    position: relative;
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
    margin-top: 0.5em;
  }

  .bi-copy {
    display: inline-block;
    cursor: pointer;
    margin-left: 1em;
    color: steelblue;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
    user-select: none;

    &:hover {
      transform: scale(1.3);
    }
  }
}
