<div class="message-creator">
  <h4>Please enter your secret message</h4>
  <textarea
    id="new-message"
    name="new-message"
    class="form-control"
    [(ngModel)]="data"
  >
  </textarea>
  <div class="action-buttons">
    <button class="btn btn-primary" [disabled]="!data" (click)="onCreate()">
      Create
    </button>
  </div>
  <div class="messge-link" *ngIf="location">
    <h5>Copy this link down below, and send to recipient</h5>
    <span class="message-link-value">{{ uiLocation }}</span>
    <span class="bi bi-copy" (click)="onCopyLocation()"></span>
  </div>
</div>
