<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="/assets/images/logo.component.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            External resources
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/currency/nbu"
                ><i class="bi bi-currency-exchange me-2" aria-hidden="true"></i
                >Currency rates</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Utilities
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/tools/guid-generator">
                Guid generator
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/tools/base64-converter">
                Base64 converter
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/tools/data-protection"
                *ngIf="authenticated$ | async"
              >
                Data Protection
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <span class="navbar-text">
        <button
          class="btn btn-outline-primary"
          routerLink="/auth/login"
          *ngIf="!(authenticated$ | async)"
        >
          Login
        </button>
        <div class="dropdown" *ngIf="authenticated$ | async">
          <button
            class="btn btn-primary dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-add me-1" aria-hidden="true"></i>
            <span>{{ userName$ | async }}</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="signout()">Sign out</a></li>
            <li>
              <a class="dropdown-item" routerLink="/auth/user-profile"
                >Profile</a
              >
            </li>
          </ul>
        </div>
      </span>
    </div>
  </div>
</nav>
<div class="main container">
  <router-outlet></router-outlet>
</div>
<div class="footer"></div>
