<div class="home-container">
  <div class="cards">
    <div class="kns-card">
      <span class="kns-card-title">Site is in development</span>
      <p class="kns-card-body">
        Sorry for inconvenience, this resource is for personal use only. If you
        interested in using this site, please contact the author.
      </p>
    </div>
    <div class="kns-card">
      <span class="kns-card-title">Tools and Utilities</span>
      <p class="kns-card-body">
        Eventually, this section will contain set of controls and helpers, that
        will simplify your day-to-day tasks.
      </p>
    </div>
  </div>
</div>
