<div class="auth-container">
  <form>
    <div class="mb-3">
      <label for="user-name-field" class="form-label">Email address</label>
      <input type="email" class="form-control" id="user-name-field" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password-field" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-field">
    </div>
    <button class="btn btn-primary"><i class="bi bi-person-check me-2" aria-hidden="true"></i>Sign in</button>
  </form>
</div>
