@import "../../../assets/kns.variables";

.auth-container {
    margin: auto;
    width: 320px;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;

    .form-group {
        display: flex;
        gap: 4px;
        flex-direction: column;

    }
}

.validation-msg {
  color: var(--bs-red);
  margin-bottom: 1em;
  font-size: smaller;

  &.is-invalid {
    display: block;
  }
}
