.auth-container {
    margin-top: 20px;
    margin: auto;
    width: 400px;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;

    .form-group {
        display: flex;
        gap: 4px;
        flex-direction: column;

    }
}