.kns-text-box {
  border: 2px solid $color-primary;
  outline: none;
  padding: 0.6em;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

  &::placeholder {
    color: $color-inactive-text;
  }

  &:focus-within {
    border: 2px solid $color-primary-focus;
  }
}
