$color-white: #F5F5DC;
$color-black: #000000;
$color-primary: #004225;
$color-primary-focus: #00331d;
$color-accent: #FFB000;
$color-border: #FFCF9D;
$color-inactive-text: #AAAAAA;

$menu-item-width: 196px;
