$color-white: #F2F2EF;
$color-primary: #374709;
$color-dark: #212517;
$color-accent: #DED3A6;
$color-border: #759242;
$color-inactive-text: #AAAAAA;

$menu-item-width: 200px;
$toolbar-height: 62px;

$body-bg: #ffffff;
$focus-ring-opacity: .25;
$focus-ring-color: rgba($color-border, $focus-ring-opacity);

$theme-colors: (
  "primary":    $color-primary,
  "secondary":  $color-accent,
  "info":       #759242,
);

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}
