@import "assets/kns.variables";
@import "assets/kns.mixins";

/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.color-primary {
  color: $color-primary;
}

a,
a:visited {
  color: $color-primary;
}

.nav {
  flex-grow: 0;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}

.form-control:focus {
  border-color: $color-accent;
  box-shadow: 0 0 0 0.25rem $color-accent;
}

.text-ellipsis {
  @include text_ellipsis();
}

.dropdown-item {
  &:active {
    background-color: $color-accent !important;
  }
}
.nav-item.dropdown .dropdown-item {
  width: 200px;
}
